<h1>Transaction Details</h1>
<div class="container">
        <table class="table">
            <thead>
                <tr class="table-dark">
                    <th>Amount</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-secondary" *ngFor="let transaction of transactions">
                    <td >{{transaction.amount}}</td>
                    <td>{{transaction.type}}</td>
                </tr>
            </tbody>
        </table>


<a routerLink="/dashboard">Back to Home</a>
</div>